#header {
  text-align: center;
  background-color:  #00BFFF;
}

#army {
  background-color: #CCE5FF;
  height: 1500vh;
  padding: 0.1rem
}

.botList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px; 
}

img{
  height: 180px;
  width: 180px
}

button {
  background-color:  #00BFFF;
}

.x {
  background-color: red;
}

#colllection {
  float: left;
  width: 40vh;

}

#army {
  float:right;
  width: 80vh;
}